<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<!--
  gvGeoportal is sponsored by the General Directorate for Information
  Technologies (DGTI) of the Regional Ministry of Finance and Public
  Administration of the Generalitat Valenciana (Valencian Community,
  Spain), managed by gvSIG Association and led by DISID Corporation.

  Copyright (C) 2016 DGTI - Generalitat Valenciana

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<display-name>gvgeoportal</display-name>

	<description>Roo generated gvgeoportal application</description>


	<!-- Enable escaping of form submission contents -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:META-INF/spring/applicationContext.xml, classpath:META-INF/spring/applicationContext-security.xml</param-value>
	</context-param>

	<!-- Configuracion Log4J -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>file:${asa.conf}/gvgeoportal/gvgeoportal.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>HttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>datatablesFilter</filter-name>
		<filter-class>com.github.dandelion.datatables.core.web.filter.DatatablesFilter</filter-class>
	</filter>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>datatablesFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	 <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Handles Spring requests -->
	<servlet>
		<servlet-name>gvgeoportal</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>datatablesController</servlet-name>
		<servlet-class>com.github.dandelion.datatables.core.web.servlet.DatatablesServlet</servlet-class>
	</servlet>
	<!-- <servlet> -->
	<!-- <servlet-name>datatablesController</servlet-name> -->
	<!-- <servlet-class>com.github.dandelion.datatables.core.web.servlet.DatatablesServlet</servlet-class> -->
	<!-- </servlet> -->

	<servlet-mapping>
		<servlet-name>gvgeoportal</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>datatablesController</servlet-name>
		<url-pattern>/datatablesController/*</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>datatablesController</servlet-name> -->
	<!-- <url-pattern>/datatablesController/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/uncaughtException</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/resourceNotFound</location>
	</error-page>
</web-app>
